  <div class="form-group row">

      <div class="col-sm-10 newtweetbody">
        <%= f.text_area :post, class: "form-control", rows:"2", placeholder: "My Tweet for the Day . . ." %>
      </div>
      <div class="createtweet">
        <%= f.submit "Create", class: "btn btn-info" %>
      </div>
  </div>
