.tweetcolsignin {
	
	display: inline-block;
}


.twittertime {
	
	display: inline-block;
	padding-left: 37%;
}

div.indexfull {
	
	background-color: #E3EEF2;
}


div.newtweet {
	
	background-color: #D2EBFF;

}


div.indexprofilebluecol {
	
	background-color: #26A5F5;
	height: 130px;
}

div.indexprofilewhitecol {
	
	background-color: white;
	height: 80px;
}

p.indexprofilewhitenamecol {
	
	padding-top: 5px;
	text-align: center;

}

p.indexprofilewhiteusernamecol {
	
	text-align: center;

}

table.indexprofiletext {
	
	height: 100%;	
	background-color: white;
	}

p.indexprofilewhitetextcol {
	text-align: center;
	font-size:13px;
}

tr.indexprofilewhitetextnum td {
	text-align: center;
	font-size: 12px;
}

.post-panel {
	
	margin: 2px;

}



.post-panel2 {
	
	margin: 2px;

}

a.card-link {

	text-align: center;

	}

.tweetfullbody {
	
	background-color: #F8F5FF;
}

span.glyphicon-user {
	
	padding-left: 5px;
}

.createtweet {
	
	display: inline-block;
	margin-top: 30px;
}

.newtweetbody {
	
	padding-top: 15px;

}

a.card-link unfollowmebutton small {
	
	font-color: blue;

}

.profileimage {

	padding-top: 15px;
}

